@{
    ViewBag.Title = "Results - Avaloq Search";
}

<div id="searchPage">
    <header>
        <a href="/"><img id="avaloqLogo" src="~/Content/Logos/avaloqlogo.png"></a>
        <a href="/"><img id="avaloqIcon" src="~/Content/Icons/logoicon.ico"></a>
        <div id="searchDiv">
            <form id="mainSearchForm" autocomplete="off">
                <input id="mainSearchBox" data-bind="value: query" type="text" name="search" placeholder="Type in your Avaloq search..">
                <input id="mainSubmitButton" data-bind="click: updateQuery" type="submit" value="">
            </form>
        </div>
    </header>
    <div id="sidebar-left">
        <div id="accordionFilters">
            <h3 id="h3Filters">Filters</h3>
            <div id="formContain" class="container form-group">
                <form id="advancedSearchForm" autocomplete="off">
                    <div id="titleDiv" class="row">
                        <label for="titleTextBox">Title / Subtitle / Keywords</label>
                        <input id="titleCheckbox" type="checkbox"><label id="titleOnly" for="titleCheckbox" class="form-text text-muted">title only</label>
                        <input id="titleTextBox" type="text" class="form-control">
                    </div>
                    <div id="docuIDDiv" class="row">
                        <label for="docuIDTextBox">Docu ID</label>
                        <input id="docuIDTextBox" type="text" class="form-control">
                    </div>
                    <div id="releaseDiv" class="row">
                        <label for="releaseDropdown">Release</label>
                        <select id="releaseDropdown" name="release" class="form-control" data-bind="options: releaseOptions, optionsText: 'Name', value: selectedRelease, optionsCaption: 'Choose...', optionsValue: 'FilterId'"></select>
                    </div>
                    <div id="funcAreaDiv" class="row">
                        <label class="" for="funcAreaMultiple">Functional Area</label>
                        <select id="funcAreaMultiple" name="funcarea" class="form-control" data-bind="options: functionalAreaOptions, optionsText: 'Name', selectedOptions: selectedFunctionalAreas, optionsValue: 'FilterId'" multiple></select>
                    </div>
                    <div id="docuTypeDiv" class="row">
                        <label for="docuTypeDropdown">Docu Type</label>
                        <select id="docuTypeDropdown" name="docutype" class="form-control" data-bind="options: docuTypeOptions, optionsText: 'Name', value: selectedDocuType, optionsCaption: 'Choose...', optionsValue: 'FilterId'"></select>
                    </div>
                    <div id="subtypeDiv" class="row">
                        <label for="subtypeDropdown">Subtype</label>
                        <select id="subtypeDropdown" name="subtype" class="form-control" data-bind="options: docuSubTypeOptions, optionsText: 'Name', value: selectedDocuSubType, optionsCaption: 'Choose...', optionsValue: 'FilterId', attr: { disabled: !(selectedDocuType() > 0) }"></select>
                    </div>
                    <div id="lastModifiedDiv" class="row">
                        <label>Last Modified</label>
                        <p>From</p>
                        <input class="form-control" type="text" id="fromDateInput">
                        <p>To</p>
                        <input class="form-control" type="text" id="toDateInput">
                        <div class="col50percent">
                            <input name="dateRadio" value="0" type="radio" class="form-check-input"><label>Custom Date</label><br />
                            <input name="dateRadio" value="2" type="radio" class="form-check-input"><label>Last Month</label>

                        </div>
                        <div class="col50percent">
                            <input name="dateRadio" value="1" type="radio" class="form-check-input"><label>Last Week</label><br />
                            <input name="dateRadio" value="3" type="radio" class="form-check-input"><label>Last Year</label>
                        </div>
                    </div>
                    <div id="orderByDiv" class="row">
                        <label>Order by</label>
                        <input id="descCheckbox" type="checkbox"><label id="desc" for="descCheckbox" class="form-text text-muted">desc.</label>
                        <select id="orderByDropdown" name="orderby" class="form-control">
                            <option value="-1">Order By</option>
                            <option value="0">Title</option>
                            <option value="1">User Added</option>
                            <option value="2">Date Added</option>
                            <option value="3">Last Edited</option>
                        </select>
                    </div>
                </form>
            </div>
        </div>
        <div id="formButtonsDiv">
            <div id="resetButtonDiv">
                <button id="resetButton"></button>
            </div>
            <div>
                <button id="updateButton" data-bind="click: updateFilterQuery"></button>

            </div>
        </div>
    </div>
    <div id="results">
        <div id="resultsInfo">
            <div id="infoDiv">
                <p class="searchstats">Search for&nbsp;"</p>
                <p id="term" class="searchstats" data-bind="text: query"></p>
                <p class="searchstats">"&nbsp;took&nbsp;</p>
                <p id="searchTime" data-bind="text: queryTime" class="searchstats"></p>
                <p class="searchstats">&nbsp;milliseconds.</p>
            </div>
            <div id="resPageDiv"><p class="searchstats">Page&nbsp;</p><p id="pageNum" data-bind="text: page" class="searchstats"></p><p class="searchstats">&nbsp;of&nbsp;</p><p id="totalPage" data-bind="text: pages" class="searchstats"></p></div>
            <button id="resPrev" data-bind="visible: page() > 1, click: prev">Previous</button>
            <button id="resNext" data-bind="visible: page() < pages(), click: next">Next</button>
        </div>
        <!-- ko foreach: results -->
        <div class="resultdiv">
            <span class="resultcheckboxspan"><input class="resultcheckbox" value="package" type="checkbox" data-bind="checked: InPackage, click: $root.addToPackage.bind($data)" /></span>
            <h3 data-bind="html: Title" class="resultdivtitle"></h3>
            <p data-bind="text: $root.formatDate(LastModified)" class="dateadded"></p><p class="spaces">&nbsp;|&nbsp;</p><p data-bind="html: Subtitle" class="dateadded"></p><p class="spaces">&nbsp;|&nbsp;</p><p data-bind="text: Release" class="dateadded"></p><p class="spaces">&nbsp;|&nbsp;</p><p data-bind="text: DocuID" class="dateadded"></p><p class="spaces">&nbsp;|&nbsp;</p><p data-bind="text: FunctionalArea" class="dateadded"></p><p class="spaces">&nbsp;|&nbsp;</p><p data-bind="text: DocuType" class="dateadded"></p><p class="spaces">&nbsp;|&nbsp;</p><p data-bind="text: SubType" class="dateadded"></p>
            <button class="previewbutton btn btn-sq-sm btn-danger" type="button" data-toggle="modal" data-target="#excerptModal" data-backdrop="static"><img class="previewicon" src="~/Content/Icons/previewicon.png"></button>
            <button data-bind="attr: { 'href': FilePath }" class="downloadbutton btn btn-sq-sm btn-success" type="button"><img class="downloadicon" src="~/Content/Icons/downloadicon.png"></button>
            <button class="linkbutton btn btn-sq-sm btn-info" type="button"><img class="linkicon" src="~/Content/Icons/linkicon.png"></button>
            <hr class="resultsseparator" />
        </div>
        <!-- /ko -->
        @*<div class="resultdiv">
                <span class="resultcheckboxspan"><input id="cb1" class="resultcheckbox" value="package" type="checkbox"></span>
                <h3 id="title1" class="resultdivtitle">Financial trends in 2017</h3>
                <p id="date1" class="dateadded">Added: 01.03.2016</p><p class="spaces">&nbsp;&nbsp;|&nbsp;&nbsp;</p>
                <p id="metadata1" class="metadata">More metadata here...</p>
                <button class="previewbutton btn btn-sq-sm btn-danger" type="button" data-toggle="modal" data-target="#excerptModal" data-backdrop="static"><img class="previewicon" src="~/Content/Icons/previewicon.png"></button>
                <button class="downloadbutton btn btn-sq-sm btn-success" type="button"><img class="downloadicon" src="~/Content/Icons/downloadicon.png"></button>
                <button class="linkbutton btn btn-sq-sm btn-info" type="button"><img class="linkicon" src="~/Content/Icons/linkicon.png"></button>
            </div>
            <div class="resultdiv">
                <span class="resultcheckboxspan"><input id="cb2" class="resultcheckbox" value="package" type="checkbox"></span>
                <h3 id="resultdiv2" class="resultdivtitle">Stock year in summary</h3>
                <p id="date2" class="dateadded">Added: 10.12.2013</p><p class="spaces">&nbsp;&nbsp;|&nbsp;&nbsp;</p>
                <p id="metadata2" class="metadata">More metadata here...</p>
                <button class="previewbutton btn btn-sq-sm btn-danger" type="button" data-toggle="modal" data-target="#excerptModal" data-backdrop="static"><img class="previewicon" src="~/Content/Icons/previewicon.png"></button>
                <button class="downloadbutton btn btn-sq-sm btn-success" type="button"><img class="downloadicon" src="~/Content/Icons/downloadicon.png"></button>
                <button class="linkbutton btn btn-sq-sm btn-info" type="button"><img class="linkicon" src="~/Content/Icons/linkicon.png"></button>
            </div>
            <div class="resultdiv">
            </div>
            <div class="resultdiv">
            </div>*@
        <div id="resultsInfoBottom">
            <div id="infoDivBottom">
                <p class="searchstats">Search for&nbsp;"</p>
                <p id="term" data-bind="text: query" class="searchstats"></p>
                <p class="searchstats">"&nbsp;took&nbsp;</p>
                <p id="searchTime" data-bind="text: queryTime" class="searchstats"></p>
                <p class="searchstats">&nbsp;milliseconds.</p>
            </div>
            <div id="resPageDivBottom"><p class="searchstats">Page&nbsp;</p><p id="pageNum" data-bind="text: page" class="searchstats"></p><p class="searchstats">&nbsp;of&nbsp;</p><p id="totalPage" data-bind="text: pages" class="searchstats"></p></div>
            <button id="resPrevBottom" data-bind="visible: page() > 1, click: prev">Previous</button>
            <button id="resNextBottom" data-bind="visible: page() < pages(), click: next">Next</button>
        </div>
    </div>
    <div id="sidebar-right">
        <div id="accordionPackage">
            <h3>Current document package</h3>
            <div id="packageDiv">
                @*<div id="onHoverPackageSidebarDiv">
                        <input id="packageSearchBox" type="text" name="packagesearch" data-bind="visible: packageSelected() == false, value: packageQuery" placeholder="Type in package name..">
                        <p id="removePackage">x</p>
                    </div>*@
                <div id="onHoverPackageSidebarDiv">
                    <input id="packageSearchBox" type="text" name="packageSearch" data-bind="attr: { disabled: packageSelected }, value: packageQuery" placeholder="Type in package name.." />
                    <p id="removePackage" data-bind="click: deselectPackage">x</p>
                </div>
                @*<h3 data-bind="visible: packageSelected, text: selectedPackageName"></h3>*@
                <button id="packageSelect" data-bind="visible: packageSelected() == false, click: searchPackages" data-toggle="modal" data-target="#packageModal" data-backdrop="static"></button>
                <br /><br />
                <p class="packagetext" data-bind="visible: documentsToAdd().length > 0">Pending Additions</p><br />
                <ul id="packageUl" data-bind="foreach: documentsToAdd">
                    <li data-bind="text: $data.Title"></li>
                </ul>
                <p class="packagetext">You have selected&nbsp;</p>
                <p class="packagetext" id="packageCounter"></p>
                <p class="packagetext">&nbsp;document</p>
                <p class="packagetext" id="packageSHidden">s&nbsp;</p>
                <p>for download.</p>
                <button id="addToPackageButton" title="Add to package" class="packagedownload" data-bind="click: saveToPackage, visible: selectedPackageId() > 0 && documentsToAdd().length > 0"></button>
                <button id="downloadPackageButton" title="Download package" class="packagedownload" data-bind="click: downloadPackage, visible: selectedPackageId() > 0 && selectedPackageDocuments().length > 0 && documentsToAdd().length == 0"></button>
                <button id="createNewPackageButton" title="Create new package" data-toggle="modal" data-target="#createNewPackageModal" data-backdrop="static" class="packagedownload"></button>
            </div>
        </div>
    </div>
    <div id="excerptModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 id="excerptModalTitle" class="modal-title">Excerpts of document * for search **</h4>
                </div>
                <div>
                    <hr /><div id="modalBody1" class="modal-body">
                        <p>Excerpts go here.</p>
                    </div><hr />
                    <div id="modalBody2" class="modal-body">
                        <p>Excerpts go here.</p>
                    </div><hr />
                    <div id="modalBody3" class="modal-body">
                        <p>Excerpts go here.</p>
                    </div><hr />
                </div>

                <div class="modal-footer">


                    <ul class="pagination">
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                    </ul>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div id="packageModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 id="packageModalTitle" class="modal-title">Results for ""</h4>
                    <input id="packageModalSearchBox" type="text" name="packagesearch" placeholder="Package name..">
                </div>
                <div class="modal-body">
                    <!-- ko foreach: packages -->
                    <button class="collapsebutton" data-bind="click: $root.expandPackage.bind($data), text: Name"></button>
                    <ul class="packageContents tripleColUl" data-bind="foreach: Documents, visible: $root.selectedPackageId() == PackageId">
                        <li data-bind="text: $data.Title"></li>
                    </ul>
                    <!-- /ko -->
                    @*<button id="packageCollapseButton1" class="collapsebutton" data-toggle="collapse" data-target="#packageCollapseDiv1">Docu Package</button>
                        <div id="packageCollapseDiv1" class="collapse">
                            <ul class="packageContents tripleColUl">
                                <li class="packageContent">avaloq.pdf</li>
                                <li class="packageContent">2013-03-23.pdf</li>
                                <li class="packageContent">projections.pdf</li>
                                <li class="packageContent">earnings.pdf</li>
                                <li class="packageContent">bonuses.pdf</li>
                                <li class="packageContent">example.pdf</li>
                                <li class="packageContent">glasgow-uni-project.pdf</li>
                                <li class="packageContent">others.pdf</li>
                                <li class="packageContent">summary.pdf</li>
                                <li class="packageContent">bugs.pdf</li>
                                <li class="packageContent">devices.pdf</li>
                                <li class="packageContent">clients.pdf</li>
                                <li class="packageContent">business.pdf</li>
                                <li class="packageContent">boss.pdf</li>
                                <li class="packageContent">letter.pdf</li>
                                <li class="packageContent">executive-email.pdf</li>
                            </ul>
                        </div>
                        <button id="packageCollapseButton2" class="collapsebutton" data-toggle="collapse" data-target="#packageCollapseDiv2">Online Documents Backup Package</button>
                        <div id="packageCollapseDiv2" class="collapse">
                            <ul class="packageContents tripleColUl">
                                <li class="packageContent">others.pdf</li>
                                <li class="packageContent">summary.pdf</li>
                                <li class="packageContent">bugs.pdf</li>
                                <li class="packageContent">devices.pdf</li>
                                <li class="packageContent">clients.pdf</li>
                                <li class="packageContent">business.pdf</li>
                            </ul>
                        </div>
                        <button id="packageCollapseButton3" class="collapsebutton" data-toggle="collapse" data-target="#packageCollapseDiv3">Banking Package</button>
                        <div id="packageCollapseDiv3" class="collapse">
                            <ul class="packageContents tripleColUl">
                                <li class="packageContent">earnings.pdf</li>
                                <li class="packageContent">bonuses.pdf</li>
                                <li class="packageContent">example.pdf</li>
                                <li class="packageContent">glasgow-uni-project.pdf</li>
                                <li class="packageContent">others.pdf</li>
                            </ul>
                        </div>*@
                </div>
                <div class="modal-footer">
                    <div data-bind="visible: Math.ceil(packageCount() / 5) > 1">
                        <ul class="pagination">
                            <!-- ko foreach: packagePages -->
                            <li><a data-bind="click: $root.changePackagePage.bind($data, PageNumber()), text: PageNumber, css: { active: PageNumber() == $root.packagePage() }"></a></li>
                            <!-- /ko -->
                        </ul>
                    </div>
                    @*<ul class="pagination">
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                        </ul>*@
                    <button type="button" id="selectPackage" data-bind="click: selectPackage" class="btn btn-default">Select Package</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div id="createNewPackageModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 id="createNewPackageModalTitle" class="modal-title">Please input name for new package</h4>
                </div>
                <div class="modal-body">
                    <input id="newPackageNameBox" data-bind="value: createPackageName" type="text" name="newpackagename" placeholder="New package name...">
                    <p><input id="addDocsToPackageAndDl" type="checkbox" name="addanddl">   Add all selected documents to current package and download</p>
                </div>
                <div class="modal-footer">
                    <button type="button" id="acceptNewPackageName" class="btn btn-default" data-dismiss="modal" data-bind="click: createPackage">Accept</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    @Scripts.Render("~/Content/Scripts/jquery.min.js")
    @Scripts.Render("~/Content/Scripts/jquery-ui.min.js")
    @Scripts.Render("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
    @Scripts.Render("~/Content/Scripts/notify.min.js")
    @Scripts.Render("~/Content/Scripts/resultsScripts.js")
    @Scripts.Render("~/Content/Scripts/search.js")
}

@section styles{
    @Styles.Render("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    @Styles.Render("https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css")
    @Styles.Render("~/Content/Styles/resultsStyles.css")
}
