@{
    ViewBag.Title = "Avaloq Search - Welcome";
}

<div id="switchModeDiv">
    <div id="searchMode" class="front">
        <div id="mainSearchDiv">
            <button id="toUploadMode" class="cardFlip">Upload files</button>
            <img id="avaloqLogo" src="~/Content/Logos/avaloqlogo.png">
            <form id="mainSearchForm" autocomplete="off">
                <input id="mainSearchBox" type="text" data-bind="value: query" name="search" placeholder="Type in your Avaloq search.."><button id="mainSubmitButton" data-bind="click: search"></button>
            </form>
            <button id="advancedSearchButton">Advanced Search</button>
        </div>
    </div>
    <div id="uploadMode" class="back">
        <button id="uploadToSearch" class="cardFlip">Back to search</button>
        <div id="uploadDiv">
            <!-- Code inside the form below taken from blueimp/JQuery-File-Upload -->
            <form id="fileupload" action="@Url.Action("UploadFiles", "Upload")" method="POST" enctype="multipart/form-data">
                <noscript>&lt;input type="hidden" name="redirect" value="/Index"&gt;</noscript>
                <div class="row fileupload-buttonbar">
                    <div class="col-lg-7">
                        <span class="btn btn-success fileinput-button">
                            <i class="glyphicon glyphicon-plus"></i>
                            <span>Add files...</span>
                            <input type="file" name="files[]" multiple="">
                        </span><br />
                        <button type="submit" class="btn btn-primary start">
                            <i class="glyphicon glyphicon-upload"></i>
                            <span>Start upload</span>
                        </button>
                        <button type="reset" class="btn btn-warning cancel">
                            <i class="glyphicon glyphicon-ban-circle"></i>
                            <span>Cancel upload</span>
                        </button>
                        <button type="button" class="btn btn-danger delete">
                            <i class="glyphicon glyphicon-trash"></i>
                            <span>Delete</span>
                        </button>
                        <input type="checkbox" class="toggle">
                        <!-- The global file processing state -->
                        <span class="fileupload-process"></span>
                    </div>
                    <!-- The global progress state -->
                    <div class="col-lg-5 fileupload-progress fade">
                        <!-- The global progress bar -->
                        <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar progress-bar-success" style="width:0%;"></div>
                        </div>
                        <!-- The extended global progress state -->
                        <div class="progress-extended">&nbsp;</div>
                    </div>
                </div>
                <!-- The table listing the files available for upload/download -->
                <table role="presentation" class="table table-striped"><tbody class="files"></tbody></table>
            </form>
            <div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls" data-filter=":even">
                <div class="slides"></div>
                <h3 class="title"></h3>
                <a class="prev">‹</a>
                <a class="next">›</a>
                <a class="close">×</a>
                <a class="play-pause"></a>
                <ol class="indicator"></ol>
            </div>
        </div>
    </div>
</div>
<div id="advancedSearchDiv" class="hideme container form-group">
    <form id="advancedSearchForm" action="/Search" autocomplete="off">
        <div class="row">
            <label for="advancedSearchBox">Title / Subtitle / Keywords</label>
            <label id="titleOnly" for="titleCheckbox" class="form-text text-muted">title only</label>
        </div>
        <div id="row1" class="row">
            <div class="input-group width-90-percent">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <input id="advancedSearchBox" type="text" class="form-control" >
                </div>
                <span class="input-group-addon"><input id="titleCheckbox" type="checkbox"></span>
            </div>
        </div>
        <div id="row2" class="row margin-top-10">
            <div class="input-group width-90-percent">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 padding-right-5">
                    <label for="docuIDBox">Docu ID</label>
                    <input id="docuIDBox" type="text" class="form-control">
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 padding-left-5">
                    <label for="releaseDropdown">Release</label>
                    <select id="releaseDropdown" name="release" class="form-control">
                        <option value="0">-------------------------------</option>
                        <option value="4">4.0</option>
                        <option value="3">3.0</option>
                        <option value="2">2.0</option>
                        <option value="1">1.0</option>
                    </select>
                </div>
            </div>
        </div>
        <div id="row3" class="row margin-top-10">
            <div class="input-group width-90-percent">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <label for="funcAreaMultiple">Functional Area</label>
                    <select id="funcAreaMultiple" name="funcarea" class="form-control" multiple>
                        <option value="0">.......Avaloq Banking System.......</option>
                        <option value="1">Accounting and Position Keeping</option>
                        <option value="2">AFP Front Office</option>
                        <option value="3">AFP Mobile</option>
                    </select>
                </div>
            </div>
        </div>
        <div id="row4" class="row margin-top-10">
            <div class="input-group width-90-percent">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 padding-right-5">
                    <label for="docuTypeDropDown">Docu Type</label>
                    <select id="docuTypeDropDown" name="docutype" class="form-control">
                        <option value="0">-------------------------------</option>
                        <option value="1">PDF</option>
                        <option value="2">HTML</option>
                    </select>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 padding-left-5">
                    <label for="subtypeDropDown">Subtype</label>
                    <select id="subtypeDropDown" name="subtype" class="form-control">
                        <option value="0">-------------------------------</option>
                        <option value="1">Team 1</option>
                        <option value="2">Team 2</option>
                    </select>
                </div>
            </div>
        </div>
        <div id="row5" class="row margin-top-10">
            <div class="input-group width-90-percent">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 padding-right-5">
                    <label>Last Modified</label>
                    <p>From</p>
                    <input id="fromDateInput" type="text" class="form-control">
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 padding-left-5">
                    <p>&nbsp;</p>
                    <p>To</p>
                    <input id="toDateInput" type="text" class="form-control">
                </div>
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 margin-top-10">
                    <input name="dateRadio" value="0" type="radio" class="form-check-input"><label>Custom Date</label>
                </div>
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 margin-top-10">
                    <input name="dateRadio" value="1" type="radio" class="form-check-input"><label>Last Week</label>
                </div>
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 margin-top-10">
                    <input name="dateRadio" value="2" type="radio" class="form-check-input"><label>Last Month</label>
                </div>
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 margin-top-10">
                    <input name="dateRadio" value="3" type="radio" class="form-check-input"><label>Last Year</label>
                </div>
            </div>
        </div>
        <div id="row6" class="row">
            <div class="input-group width-90-percent">
                <div id="resetDiv" class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <button id="resetButton" class="hideme" type="button"></button>
                </div>
                <div id="submitDiv" class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <button id="advancedSubmitButton" class="hideme" type="button" form="advancedSearchForm">Submit</button>
                </div>
            </div>
        </div>
    </form>
</div>
<div>
    <button id="backToMainSearch" class="hideme"></button>
</div>
<div id="footer">
    <img id="avaloqInverted" class="hideme" src="~/Content/Logos/avaloqinverted.jpg">
</div>
<script id="template-upload" type="text/x-tmpl">
    {% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-upload fade">
        <td>
            <p class="name">{%=file.name%}</p>
            <strong class="error text-danger"></strong>
        </td>
        <td>
            <p class="size">Processing...</p>
            <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="progress-bar progress-bar-success" style="width:0%;"></div></div>
        </td>
        <td>
            {% if (!i && !o.options.autoUpload) { %}
            <button class="btn btn-primary start" disabled>
                <i class="glyphicon glyphicon-upload"></i>
                <span>Start</span>
            </button>
            {% } %}
            {% if (!i) { %}
            <button class="btn btn-warning cancel">
                <i class="glyphicon glyphicon-ban-circle"></i>
                <span>Cancel</span>
            </button>
            {% } %}
        </td>
    </tr>
    {% } %}
</script>
<script id="template-download" type="text/x-tmpl">
    {% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-download fade">
        <td>
            <p class="name">
                {% if (file.url) { %}
                <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" {%=file.thumbnailUrl?'data-gallery': '' %}>{%=file.name%}</a>
                {% } else { %}
                <span>{%=file.name%}</span>
                {% } %}
            </p>
            {% if (file.error) { %}
            <div><span class="label label-danger">Error</span> {%=file.error%}</div>
            {% } %}
        </td>
        <td>
            <span class="size">{%=o.formatFileSize(file.size)%}</span>
        </td>
        <td>
            {% if (file.deleteUrl) { %}
            <button class="btn btn-danger delete" data-type="{%=file.deleteType%}" data-url="{%=file.deleteUrl%}" {% if (file.deleteWithCredentials) { %} data-xhr-fields='{withCredentials:true}' {% } %}>
                <i class="glyphicon glyphicon-trash"></i>
                <span>Delete</span>
            </button>
            <input type="checkbox" name="delete" value="1" class="toggle">
            {% } else { %}
            <button class="btn btn-warning cancel">
                <i class="glyphicon glyphicon-ban-circle"></i>
                <span>Cancel</span>
            </button>
            {% } %}
        </td>
    </tr>
    {% } %}
</script>
@section scripts{
    @Scripts.Render("~/Content/Scripts/jquery.min.js")
    @Scripts.Render("~/Content/Scripts/jquery-ui.min.js")
    @Scripts.Render("~/Content/Scripts/upload-tmpl.min.js")
    @Scripts.Render("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
    @Scripts.Render("~/Content/Scripts/notify.min.js")
    @Scripts.Render("~/Content/Scripts/jquery.iframe-transport.js")
    @Scripts.Render("~/Content/Scripts/jquery.fileupload.js")
    @Scripts.Render("~/Content/Scripts/jquery.fileupload-process.js")
    @Scripts.Render("~/Content/Scripts/jquery.fileupload-validate.js")
    @Scripts.Render("~/Content/Scripts/jquery.fileupload-ui.js")
    @Scripts.Render("~/Content/Scripts/upload-main.js")
    @Scripts.Render("~/Content/Scripts/indexScripts.js")
    @Scripts.Render("~/Content/Scripts/home.js")
}

@section styles{
    @Styles.Render("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    @Styles.Render("https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css")
    @Styles.Render("~/Content/Styles/blueimp-gallery.min.css") 
    @Styles.Render("~/Content/Styles/jquery.fileupload.css")
    @Styles.Render("~/Content/Styles/jquery.fileupload-ui.css")
    @Styles.Render("~/Content/Styles/indexStyles.css")    
}